RASAccess-ApplicationDB/RASHealthIntegrationData/ExcessRefundDraftDocumentDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://RASAccess-ApplicationDB/RASHealthIntegrationData"
	xmlns:bons0="http://RASAccess-ApplicationDB/RASHealthIntegrationData">
	<xsd:include schemaLocation="ExcessRefundDraftDocumentBO.xsd"></xsd:include>
	<xsd:complexType name="ExcessRefundDraftDocumentDetails">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="documentURL"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="documents"
				type="bons0:ExcessRefundDraftDocumentBO" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>