RASAccess-ApplicationDB/RASHealthIntegrationData/ExcessRefundDraftDocumentBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://RASAccess-ApplicationDB/RASHealthIntegrationData">
	<xsd:complexType name="ExcessRefundDraftDocumentBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="documentType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="isAvailable"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>