RASAccess-ApplicationDB/RACASBO/RASException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://RACASBO" xmlns:impl1="http://RACASBO"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<include schemaLocation="Error.xsd" />
	<complexType name="RASException">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="status"
				nillable="false" type="xsd:string" />
			<element maxOccurs="1" minOccurs="0" name="data"
				nillable="false" type="xsd:string" />
			<element maxOccurs="unbounded" minOccurs="0" name="error"
				nillable="false" type="impl1:Error" />
		</sequence>
	</complexType>
</schema>