RASAccess-ApplicationDB/RACASBO/ResponseBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://RACASBO" xmlns:impl1="http://RACASBO"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<complexType name="ResponseBO">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="status"
				nillable="false" type="xsd:string" />
			<element maxOccurs="1" minOccurs="0" name="data"
				nillable="false" type="xsd:string" />
			<element maxOccurs="1" minOccurs="0" name="message"
				nillable="false" type="xsd:string" />
		</sequence>
	</complexType>
</schema>