RASAccess-ApplicationDB/RACASBO/TicketDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://RACASBO" xmlns:impl1="http://RACASBO"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<include schemaLocation="ResponseBO.xsd" />
	<include schemaLocation="TicketBO.xsd" />
	<complexType name="TicketDetail">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="payload"
				nillable="false" type="impl1:TicketBO" />
			<element maxOccurs="1" minOccurs="0" name="errors"
				nillable="false" type="impl1:ResponseBO" />
		</sequence>
	</complexType>
</schema>